.box {
	padding: 30px 0;
}

.gridSettings {
	margin-bottom: 30px !important;
}
.soapLabelRow {
	padding: 0px 5px;
	background-color: #fafafa;
	margin: 5px 0 !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.soapLabelRowName {
	font-family: "Shadows Into Light";
	font-size: 20px;
	line-height: 40px;
	margin: 0 0 0 10px;
}
.soapLabelButtons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: centeer;
	margin-left: 10px;
	height: 100%;
}
.soapLabelRowQty {
	height: 24px !important;
	width: 80px;
	margin-right: 10px !important;
}
.soapLabelRowButtons {
	padding: 10px 0 5px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.gridPrintLabels {
	padding: 30px 20px;
	border: solid 1px #000;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.wrapperForAbsolute {
	position: relative;
}
.rightAbsoluteContainer {
	position: absolute;
	top: 0;
	right: 0;
}
