.main {
	background-repeat: repeat;
}
.main_arab_tile {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("assets/backgrounds/arab_tile.png");
}
.main_bush {
	background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
		url("assets/backgrounds/bush.png");
}
.main_circuit {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("assets/backgrounds/circuit.png");
}
.main_full-bloom {
	background-image: url("assets/backgrounds/full-bloom.png");
}
.main_gplaypattern {
	background-image: url("assets/backgrounds/gplaypattern.png");
}
.main_greek-vase {
	background-image: url("assets/backgrounds/greek-vase.png");
}
.main_herringbone {
	background-image: url("assets/backgrounds/herringbone.png");
}
.main_hotel-wallpaper {
	background-image: url("assets/backgrounds/hotel-wallpaper.png");
}
.main_more-leaves {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("assets/backgrounds/more-leaves.png");
}
.main_moroccan-flower {
	background-image: url("assets/backgrounds/moroccan-flower.png");
}
.main_moroccan-flower-dark {
	background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
		url("assets/backgrounds/moroccan-flower-dark.png");
}
.main_morocco-blue {
	background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
		url("assets/backgrounds/morocco-blue.png");
}
.main_new_year_background {
	background-image: url("assets/backgrounds/new_year_background.png");
}
.main_regal {
	background-image: url("assets/backgrounds/regal.png");
}
.main_ripples {
	background-image: url("assets/backgrounds/ripples.png");
}
.main_swirls {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("assets/backgrounds/swirls.png");
}
.main_tree_bark {
	background-image: url("assets/backgrounds/tree_bark.png");
}
.main_trees {
	background-image: url("assets/backgrounds/trees.png");
}

.header {
	width: 838px !important;
	padding: 30px 0 15px 0 !important;
	position: relative;
}
.mainTitle {
	font-family: "Shadows Into Light";
	font-size: 24px;
	line-height: 40px;
	margin: 0;
}
.bgSwitcherContainer {
	padding: 30px 0 15px 0;
	display: flex;
}
.secondTitle {
	font-family: "Lato";
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
}

.container {
	width: 838px !important;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 20px 0px;
}

.footer {
	width: 838px !important;
	padding: 10px 0 20px 0 !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footerLinks {
	display: block;
}
.footerCopyright {
	font-family: "Lato";
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	display: block;
}

.gridItemClose {
	display: flex;
	justify-content: flex-end;
}

.wrapperForAbsolute {
	position: relative;
}
.rightAbsoluteContainer {
	position: absolute;
	top: 0;
	right: 0;
}

.modalBox {
	/* position: absolute;
	top: 30px;
	bottom: 30px;
	left: 50%;
	transform: translate(-420px, 0); */
	width: 839px !important;
}
