.labelWideRowGridItem {
	padding: 0;
	border: 1px dotted #eee;
	display: flex;
	align-items: center;
	width: 100%;
}
.labelWideRowGridItemLeft,
.labelWideRowGridItemRight {
	display: inline-block;
	width: 100%;
}
.labelWideRowGridItemLeft {
	padding-right: 7px;
}
.labelWideRowGridItemRight {
	padding-left: 7px;
}
.labelWideRowSoapName {
	font-family: "Shadows Into Light";
	font-size: 32px;
	line-height: 28px;
	margin: 0 0 10px;
}
.labelWideRowSoapIngredients {
	font-family: "Lato";
	font-size: 12px;
	line-height: 16px;
	margin: 10px 0 10px;
	font-weight: 300;
}
.labelWideRowSoapBrand {
	font-family: "Shadows Into Light";
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 10px;
}
.labelWideRowSoapPhrase {
	font-family: "Shadows Into Light";
	font-size: 14px;
	line-height: 16px;
	margin: 10px 0 0;
}
.labelWideRowSoapName:last-child,
.labelWideRowSoapBrand:last-child,
.labelWideRowSoapPhrase:last-child {
	margin-bottom: 0;
}
.labelWideRowSoapDate {
	font-family: "Lato";
	font-size: 10px;
	line-height: 14px;
	margin: 10px 0 0;
}
