@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Shadows+Into+Light&display=swap");

html, body, div, span, applet, object, iframe, 
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	min-height: 100%;
	overflow: auto;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}
div#root {
	height: 100%;
	overflow: auto;
}
div.main {
	min-height: 100%;
}
div.print {
	display: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media print {
	html,
	body,
	div#root {
		overflow: initial;
	}
	body {
		height: auto;
	}
	div.main {
		display: none;
	}
	div.print {
		display: block;
		padding: 0 !important;
		width: 790px !important;
		margin: 0 auto;
	}
}

.main {
    background-repeat: repeat;
}
.main_arab_tile {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("SoapHelper/assets/backgrounds/arab_tile.png");
}
.main_bush {
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
        url("SoapHelper/assets/backgrounds/bush.png");
}
.main_circuit {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("SoapHelper/assets/backgrounds/circuit.png");
}
.main_full-bloom {
    background-image: url("SoapHelper/assets/backgrounds/full-bloom.png");
}
.main_gplaypattern {
    background-image: url("SoapHelper/assets/backgrounds/gplaypattern.png");
}
.main_greek-vase {
    background-image: url("SoapHelper/assets/backgrounds/greek-vase.png");
}
.main_herringbone {
    background-image: url("SoapHelper/assets/backgrounds/herringbone.png");
}
.main_hotel-wallpaper {
    background-image: url("SoapHelper/assets/backgrounds/hotel-wallpaper.png");
}
.main_more-leaves {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("SoapHelper/assets/backgrounds/more-leaves.png");
}
.main_moroccan-flower {
    background-image: url("SoapHelper/assets/backgrounds/moroccan-flower.png");
}
.main_moroccan-flower-dark {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
        url("SoapHelper/assets/backgrounds/moroccan-flower-dark.png");
}
.main_morocco-blue {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
        url("SoapHelper/assets/backgrounds/morocco-blue.png");
}
.main_new_year_background {
    background-image: url("SoapHelper/assets/backgrounds/new_year_background.png");
}
.main_regal {
    background-image: url("SoapHelper/assets/backgrounds/regal.png");
}
.main_ripples {
    background-image: url("SoapHelper/assets/backgrounds/ripples.png");
}
.main_swirls {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("SoapHelper/assets/backgrounds/swirls.png");
}
.main_tree_bark {
    background-image: url("SoapHelper/assets/backgrounds/tree_bark.png");
}
.main_trees {
    background-image: url("SoapHelper/assets/backgrounds/trees.png");
}